<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Tasks</title>
	<link rel="stylesheet" href="/static/css/views.css">
</head>
<body>
	<h1>My To Do List</h1>
	<div>
		<form action="/tasks/logout" method="get">
			<button type="submit" class="logout-btn">Logout</button>
		</form>
	</div>
	<div>
		<div class="add-btn-div">
			<p class="add-btn-p">Click Here To Add A New Task</p>
			<button type="button" class="button" id="back-btn" 
				onclick="window.location.href='/tasks/create'">New Task</button>
	    </div>
			<div class="body">
				<% for(let task of tasks){ %>
					<div class="task-info">
					<div class="task-desc">
						<p class="th">Subject</p>
                        <p class="input-desc"><%= task.Subject %></p>
					</div>
					<div class="task-desc">
						<p class="th">Description</p>
						<p class="input-desc"><%= task.Description%></p>
					</div>
					<div class="task-desc">
						<p class="th">Date</p>
						<p class="input-desc"><%= new Date(task.Date.getTime() + 24 * 60 * 60 * 1000).toLocaleDateString()%></p>
					</div>
					<div class="task-desc">
						<p class="th">Time</p>
						<p class="input-desc"><%= new Date(task.Time.getTime() + 5 * 60 * 60 * 1000).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' })%></p>																											  
					</div>
					<div>												
						<p class="complete" id="complete-<%= task.ListID %>">Complete</p>
						<input type="checkbox" class="task-checkbox" id="checkbox-<%= task.ListID %>">
						<label for="checkbox-<%= task.ListID %>" class="checkbox">Mark As Complete</label>
					</div>
				</div>
						<div class="dlt-edit">
							<form action="/tasks/edit/<%= task.ListID %>" method="GET">
								<input type="submit" value="Edit" class="edit">
							</form>
							<form id="delete-form-<%= task.ListID %>" action="/tasks/delete/<%= task.ListID %>" 
								method="POST" class="delete-form">
								<input type="hidden" name="taskId" value="<%= task.ListID %>">
							<button type="button" class="delete-btn" 
								onclick="showConfirmation('<%= task.ListID %>')">Delete</button>
							</form>
						</div>
						<div id="confirmation-modal-<%= task.ListID %>" class="modal">
							<div class="modal-content">
							  <p class="confirm-p">Are You Sure You Want To Delete Task With Subject <%= task.Subject %>?</p>
							  <div class="modal-buttons">
								<button type="submit" class="confirm-delete-btn" 
								onclick="deleteTask('<%= task.ListID %>')" data-task-id="<%= task.ListID %>" value="Delete">Delete</button>
								<button class="cancel-delete-btn" 
								onclick="hideConfirmation('<%= task.ListID %>')">Cancel</button>
							  </div>
							</div>
						  </div>
				<% } %>
		</div>			
</div>
	<script>
		function showConfirmation(taskId) {
  			let modal = document.getElementById('confirmation-modal-' + taskId);
  			modal.style.display = 'block';
  	};
	
		function hideConfirmation(taskId) {
		  let modal = document.getElementById('confirmation-modal-' + taskId);
		  modal.style.display = 'none';
		}

		function deleteTask(taskId) {
		let form = document.getElementById('delete-form-' + taskId);
		form.submit();
	}

	 		const confirmDeleteButtons = document.getElementsByClassName('confirm-delete-btn');
      		for (let i = 0; i < confirmDeleteButtons.length; i++) {
       		confirmDeleteButtons[i].addEventListener("click", (event) => {
         	event.preventDefault();
       		const taskId = confirmDeleteButtons[i].getAttribute('data-task-id'); // Get the task ID from a custom data attribute
            const confirmationModal = document.getElementById('confirmation-modal-' + taskId);
            confirmationModal.style.display = 'none';
            document.getElementById('delete-form-' + taskId).submit();
        });
      }

		 const checkboxes = document.getElementsByClassName('task-checkbox');
			for (let i = 0; i < checkboxes.length; i++) {
  			checkboxes[i].addEventListener('click', function() {
    		const taskId = this.id.split('-')[1]; // Extract the taskId from the checkbox id
    		const complete = document.getElementById('complete-' + taskId);

    		if (this.checked) {
      		complete.style.display = 'block';
    		} else {
      		complete.style.display = 'none';
   		 }
  	});
}
	  </script>
</body>
</html>