<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Tasks</title>
	<link rel="stylesheet" href="/static/css/views.css">
</head>

<body>
	<h1>My To Do List</h1>
	<div>
		<table class="table">
			<div class="header">
				<thead>
             	   <th>Subject</th>
					<th>Description</th>
              		<th>Date</th>
					<th>Time</th>
					<th></th>
				</thead>
			</div>
			<div class="tableBody">
			<tbody>
				<% for(let task of tasks){ %>
					<tr class="line">
                        <td><%= task.Subject %></td>
						<td><%= task.Description%></td>
                        <td><%= task.Date ? task.Date.toLocaleDateString('en-US') : ''%></td>
						<td><%= task.Time ? new Date(task.Time).toLocaleTimeString('en-US') : '' +1%></td>
						<td>
						<div class="dlt-edit">
							<form action="/tasks/edit/<%= task.ListID %>" method="GET">
								<input type="submit" value="Edit" class="edit">
							</form>
							<form id="delete-form-<%= task.ListID %>" action="/tasks/delete/<%= task.ListID %>" method="POST">
								<input type="hidden" name="taskId" value="<%= task.ListID %>">
							</form>
							<button type="button" class="delete-btn" 
								onclick="showConfirmation('<%= task.ListID %>')">Delete</button>
						</div>
						<div id="confirmation-modal-<%= task.ListID %>" class="modal">
							<div class="modal-content">
							  <p>Are You Sure You Want To Delete Task With Sunject <%= task.Subject %>?</p>
							  <div class="modal-buttons">
								<button class="confirm-delete-btn" 
								onclick="deleteTask('<%= task.ListID %>')">Delete</button>
								<button class="cancel-delete-btn" 
								onclick="hideConfirmation('<%= task.ListID %>')">Cancel</button>
							  </div>
							</div>
						  </div>						  
						</td>
					</tr>
				<% } %>
			</tbody>
		</div>
		</table>
	</div>
	<button type="button" class="button" id="back-btn" 
	onclick="window.location.href='/tasks/create'">Click Here To Add A New Task</button>
	<script>
		function showConfirmation(taskId) {
		  // Display the confirmation modal for the specific task
		  var modal = document.getElementById('confirmation-modal-' + taskId);
		  modal.style.display = 'block';
		}
	
		function hideConfirmation(taskId) {
		  // Hide the confirmation modal for the specific task
		  var modal = document.getElementById('confirmation-modal-' + taskId);
		  modal.style.display = 'none';
		}
	
		function deleteTask(taskId) {
    // Call the delete route for the specific task
    var form = document.getElementById('delete-form-' + taskId);
    form.submit();
  }
	  </script>
</body>
</html>