<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h1>Update Your Task</h1>
    <table>
    <div class="header">
        <thead>
            <th>Subject</th>
            <th>Description</th>
            <th>Date</th>
            <th>Time</th>
        </thead>
    </div>
    <div class="tableBody">
    <tbody>
        <% for(let task of tasks){ %>
            <tr class="line">
                <td><%= task.Subject %></td>
                <td><%= task.Description%></td>
                <td><%= task.Date%></td>
                <td><%= task.Time%></td>
                <td>
                  <div>
                      <form action="/tasks/update" method="POST">
                          <input type="text" name="Subject" value="<%= task.Subject %>">

                          <textarea name="Description"><%= task.Description %></textarea>

                          <input type="hidden" name="ListID" value="<%= task.ListID %>">
                          <input type="date" name="Date" value="<%= Date.toLocaleString() %>" id="Date">
                          <input type="time" name="Time" id="time">
                          <button type="submit">Update</button>
                        </form>          
                  </div>
                </td>
            </tr>
            <% } %>
    </tbody>
</table>
</body>
</html>